h2 {
	text-align: center;
	text-transform: uppercase;
	margin-top: 25px;
}

button {
	height: 30px;
	border-radius: 5px;
	cursor: pointer;
}

.center-form {
	width: 50%;
	margin: 0 auto;
}

input {
	width: 490px;
	float: right;
}

.margin-full {
	margin: 10px;
}

.button-update {
	background-color: green;
	color: white;
	height: 32px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
	width: 40%;
	float: right;
}

.success-message {
	color: #FFF;
    background-color: green;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px 0 10px 0;
    margin-top: 70px;
}

.error-message {
	color: #FFF;
    background-color: red;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px 0 10px 0;
}

.button-listage {
	margin-top: 11px;
    margin-left: 140px;
    width: 240px;
}